@import "tailwindcss";

@theme {
  --color-secondary: oklch(92.2% 0 0); /* neutral-300 */
  --color-secondary-hover: oklch(0.87 0 0); /* neutral-300 */
  --color-secondary-border: oklch(0.708 0 0); /* neutral-400 */
  --color-secondary-text: oklch(0.556 0 0); /* neutral-500 */
  --color-secondary-dark: oklch(0.269 0 0); /* neutral-800 */
  --color-secondary-dark-hover: oklch(0.205 0 0); /* neutral-900 */
}
